body {
    font-family: 'Dosis', Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;

}

.navigbar {
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;

}

.navig {
    margin: 0;

    list-style-type: none;
    overflow: hidden;
    background-color: #333333;
    color: whitesmoke;
    white-space: nowrap;
    overflow-x: auto;
}

.navig li, li.dropdown {
    display: inline-block; 
}

/* .navig h1 {
    color: whitesmoke;
    font-size: 10px;
    margin:0;
} */

.navig a {
    display: block;
    color: whitesmoke;
    text-decoration: none;
    padding: 16px;
    text-align: center;
}

.navig a:hover, .dropdown:hover .droping {
    background-color: #4b4b4b;
}

.drop-list {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.drop-list a {
    background-color: #f9f9f9;
    color: #333333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.drop-list a:hover {
    background-color:  #4b4b4b;;
    color: whitesmoke;
}

.dropdown:hover .drop-list {
    display: block;
}


main {
    width: 100%;
}

section {
    width:inherit;
    text-align: justify;
    overflow: auto;
}

#slide1 {
    background-image: url(image/slide1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;

    box-sizing: border-box;
    height: 100vh;
    /* position: relative; */

    text-align: center;
    color: #333333;
}

/* #slide1 div {
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

h1 {
    font-size: 400%;
    color: #333333;
    text-decoration: overline;
    text-transform: uppercase;
    white-space: nowrap;
}

#slide1 h1 {
    margin: 0;
    padding-top: 30vh;
}

#slide1 h2 {
    color: whitesmoke;
    letter-spacing: 5px;
    margin: 0;
    /* font-size: 0em; */
    opacity: 0;
    /* transition: font-size 2s; */
    transition: opacity 4s;
    transition-timing-function: ease;
    
}

#slide1 div:hover h2{
    /* font-size: 1.5em; */
    opacity: 1;

}

/* slide2 */

.content {
    width: 80%;
    margin: auto;
    overflow: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

h3 {
    text-decoration: overline;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h4 {
    text-align: center;
}

#slide3 {
    background-image: url(image/slide3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;

    overflow: auto;
}

.box {
 
    width: 45%;
    display: inline-block;
    box-sizing: border-box;
        
    /* border-left: 5px solid rgb(193, 69, 32); */
    background-color: white;
    outline-style: groove;
    outline-color: rgba(66, 65, 65, 0.3);

    padding: 3%;
    margin: 2%;
}

@media screen and (max-width:700px) {
    .box {
        width:100%; 
        margin: 7% 0% 7%;
        
        box-sizing: border-box;
    }
}

/* gallery */

.content-page {
    width: 80%;
    margin: auto;
    overflow: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

div.gallery {
    padding: 5px;
    float: left;
    width: 25%;
    box-sizing: border-box;
}

@media screen and (max-width:1000px) {
    div.gallery {
        width:50%;
    }
}

@media screen and (max-width:700px) {
    div.gallery {
        width:100%;
    }
}

div.gallery:hover {
    opacity: 0.6;
}

div.gallery img {
    width: 100%;
    height: auto;
}

.contact h1 {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;    
    padding: 15px;
    margin: 0;
}

.half {
    width: 49%;
    display: inline-block;
    box-sizing: border-box;    
    padding: 15px;
}

fieldset {
    border: 2px solid #707070;
    border-radius: 4px;
}

fieldset > * {
    display: block;
    box-sizing: border-box;
    
}

input, select{
    width: 60%;
}

input, select, textarea {
    margin-bottom: 10px;
    padding: 4px 3px;
    border: 2px solid #a0a0a0;
    border-radius: 4px;
    background-color: white;
    font-family: 'Dosis', Verdana, Geneva, Tahoma, sans-serif;

}

input:focus, select:focus, textarea:focus {
    border: 2px solid #707070;
}

textarea {
    width: 100%;
    resize: none;
}

input[type=submit] {
    background-color: #333333;
    color: whitesmoke;
    border: none;
    border-radius: 0px;
    float: right;
}

input[type=submit]:hover {
    background-color: #707070;

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    width: 100%;
    height: 60px;
    /* margin-top: -8px; */
    background-color: #333333;
    color: whitesmoke;
    text-align: center;
}